LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=YOUR.LANGSMITH_API_KEY
LANGSMITH_PROJECT=YOUR.LANGSMITH_TRACING_PROJECT

OPENAI_API_KEY=YOUR.OPENAI.API.KEY

MILVUS_DB=./milvus.db

# If you want to use GitHub MCP server
GITHUB_PERSONAL_ACCESS_TOKEN=YOUR.GITHUB_PERSONAL_ACCESS_TOKEN

# If you want to use WEATHER MCP Server
OPENWEATHER_API_KEY=YOUR.OPENWEATHER_API_KEY